<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div>
  <ul>
    <li>ng serve -o (serve and opens in browser)</li>
    <li>ng build --prod (build project to dist/firetrade)</li>
    <li>firebase login</li>
    <li>firebase init</li>
    <li>firebase deploy</li>
  </ul>
</div>
<div>
  <ul>
    <li>npm install -g @angular/cli</li>
    <li>npm install -g firebase-tools</li>
  </ul>
</div>

clone git repo
nav to git repo
open terminal
run: npm install
check how node_modules folder was created and packages was installed
run: ng serve (-o | --open) then nav to localhost:4200 (default 4200)(--port 5000)
delete dist folder
run: ng build --prod check how dist folder was created again
add some shit to a website component and then ctrl+s
.. will save and re-serve page with incremental updates

read up upon bootstrap





