<nav class="navbar navbar-expand-lg navbar-light" style="max-height: 80px; background-color: var(--app-navbar);">
  <a class="navbar-brand" href="/" style="font-size: x-large"><img src="assets/firebase_logo.svg" style="max-width: 35px; margin-right: 20px; margin-left: 15px">FireBRICS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/deals">Deals</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/leads">Leads</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="dropleft" style="max-height: 80px;">

          <img src="assets/blank_profile.svg" style="max-height: 70px; max-width: 70px; border: none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style=" margin-top: 70px;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
